###  실습

#### column

In [3]:
import pandas as pd

In [4]:
# dict를  Dataframe 으로 변경

dict = {"국어": [15, 25, 35], "영어": [45, 55, 65], "수학": [75, 85, 95]}
df = pd.DataFrame(dict)
df

   국어  영어  수학
0  15  45  75
1  25  55  85
2  35  65  95

#### index

In [5]:
df = pd.DataFrame(dict, index=["1월", "2월", "3월"])
df

    국어  영어  수학
1월  15  45  75
2월  25  55  85
3월  35  65  95

#### 2차원 리스트 + index + columns

In [6]:
list = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
df = pd.DataFrame(list,
                  index=["내용1", "내용2"],
                  columns=["c1", "c2", "c3", "c4", "c5"])
df

     c1  c2  c3  c4  c5
내용1   1   2   3   4   5
내용2   6   7   8   9  10