In [1]:
import pandas as pd

In [11]:
student_list = {
    "name": [
        "John", "Nate", "Abraham", "Brian", "Janny", "Yuna", "Jeniffer",
        "Edward", "Zara", "Wendy", "Sera"
    ],
    "major": [
        "Computer Science", "Computer Science", "Physics", "Psychology",
        "Economics", "Economics", "Computer Science", "Computer Science",
        "Psychology", "Economics", "Psychology"
    ],
    "gender": [
        "male", "male", "male", "male", "female", "female", "female", "male",
        "female", "female", "female"
    ]
}
df = pd.DataFrame(student_list)
df

        name             major  gender
0       John  Computer Science    male
1       Nate  Computer Science    male
2    Abraham           Physics    male
3      Brian        Psychology    male
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
7     Edward  Computer Science    male
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Sera        Psychology  female

In [12]:
# 학과별로 몇 명이 있는지 알고 싶다면?

groupby_major = df.groupby('major')
groupby_major.groups

{'Computer Science': Int64Index([0, 1, 6, 7], dtype='int64'),
 'Economics': Int64Index([4, 5, 9], dtype='int64'),
 'Physics': Int64Index([2], dtype='int64'),
 'Psychology': Int64Index([3, 8, 10], dtype='int64')}

In [14]:
for name, group in groupby_major:
    print(name + " : " + str(len(group)))
    print(group)

Computer Science : 4
       name             major  gender
0      John  Computer Science    male
1      Nate  Computer Science    male
6  Jeniffer  Computer Science  female
7    Edward  Computer Science    male
Economics : 3
    name      major  gender
4  Janny  Economics  female
5   Yuna  Economics  female
9  Wendy  Economics  female
Physics : 1
      name    major gender
2  Abraham  Physics   male
Psychology : 3
     name       major  gender
3   Brian  Psychology    male
8    Zara  Psychology  female
10   Sera  Psychology  female

In [15]:
# 학과별로 데이터프레임 생성하고 싶다면?

df_major_cnt = pd.DataFrame({'count': groupby_major.size()})
df_major_cnt

                  count
major
Computer Science      4
Economics             3
Physics               1
Psychology            3

In [16]:
# major 을 column 으로 설정

df_major_cnt.reset_index()

              major  count
0  Computer Science      4
1         Economics      3
2           Physics      1
3        Psychology      3

In [17]:
# 성별로 그룹화 하기

groupby_gender = df.groupby('gender')
groupby_gender.groups

{'female': Int64Index([4, 5, 6, 8, 9, 10], dtype='int64'),
 'male': Int64Index([0, 1, 2, 3, 7], dtype='int64')}

In [18]:
for name, group in groupby_gender:
    print(name+" : "+str(len(group)))
    print(group)

female : 6
        name             major  gender
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Sera        Psychology  female
male : 5
      name             major gender
0     John  Computer Science   male
1     Nate  Computer Science   male
2  Abraham           Physics   male
3    Brian        Psychology   male
7   Edward  Computer Science   male