In [1]:
import pandas as pd

In [23]:
date_list = {"yyyy-mm-dd":["2005-09-28","2007-10-05","2012-12-20"]}
df = pd.DataFrame(date_list)
df

   yyyy-mm-dd
0  2005-09-28
1  2007-10-05
2  2012-12-20

* 현재 하나밖에 없는 컬럼을 하나 더 추가하여 반영 시키기
* year 값을 만들어 적용

In [24]:
# 하나의 컬럼을 받아서 -로 분리한 뒤 첫번째 인자를 리턴하기

def extract_year(column):
    return column.split("-")[0]

In [25]:
# df['yyyy-mm-dd']컬럼에 apply() 함수 적용

df['year'] = df['yyyy-mm-dd'].apply(extract_year)
df

   yyyy-mm-dd  year
0  2005-09-28  2005
1  2007-10-05  2007
2  2012-12-20  2012

In [26]:
# 현재연도에서 인자로 받은 연도를 빼서 나이 리턴

def get_age(year, current_year):
    return current_year - int(year)

In [28]:
df['age'] = df['year'].apply(get_age,current_year=2020)
df

   yyyy-mm-dd  year  age
0  2005-09-28  2005   15
1  2007-10-05  2007   13
2  2012-12-20  2012    8

In [33]:
# introduce 작성

def get_introduce(age, prefix, suffix):
    return prefix + str(age) + suffix

In [35]:
# age 필드의 값을 가져와서 get_introduce 적용

df['introduce'] = df['age'].apply(get_introduce,                                  
                                  prefix="나는 ",
                                  suffix=" 입니다.")
df

   yyyy-mm-dd  year  age   introduce
0  2005-09-28  2005   15  나는 15 입니다.
1  2007-10-05  2007   13  나는 13 입니다.
2  2012-12-20  2012    8   나는 8 입니다.

In [36]:
# 여러개의 컬럼을 가져와서 apply() 적용하기

In [37]:
def get_introduce_2(row):
    return "나는 " + str(row.year) + " 년에 태어났고, 나의 나이는 " + str(row.age) + " 입니다."

In [ ]:
df['introduce2'] = df.apply(get_introduce_2, axix = 1)