###  실습

#### column

In [2]:
import pandas as pd

In [4]:
# dict를  Dataframe 으로 변경

dict = {"국어": [15, 25, 35], "영어": [45, 55, 65], "수학": [75, 85, 95]}
df = pd.DataFrame(dict)
df

   국어  영어  수학
0  15  45  75
1  25  55  85
2  35  65  95

* index를 주지 않는 경우 0,1,2 로 나옴

#### index

In [5]:
df = pd.DataFrame(dict, index=["1월", "2월", "3월"])
df

    국어  영어  수학
1월  15  45  75
2월  25  55  85
3월  35  65  95

* index를 주는 경우

#### 2차원 리스트 + index + columns

In [15]:
list = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
df = pd.DataFrame(list,
                  index=["내용1", "내용2"],
                  columns=["c1", "c2", "c3", "c4", "c5"])
df

     c1  c2  c3  c4  c5
내용1   1   2   3   4   5
내용2   6   7   8   9  10

In [16]:
# 첫번째 행 가져오기

print(df.loc['내용1'])

# iloc[] : 인덱스 값이 오거나(단, 인덱스는 정수값이어야 함), 컬럼 인덱스가 와야 함
# df.iloc["내용1"] => 쓸 수 없음

df.loc['내용1','c1':'c5']  # 여기서 앞은 인덱스명, 뒤는 컬럼명

c1    1
c2    2
c3    3
c4    4
c5    5
Name: 내용1, dtype: int64

c1    1
c2    2
c3    3
c4    4
c5    5
Name: 내용1, dtype: int64

In [18]:
# 두번째 컬럼 가져오기

print(df["c2"])

내용1    2
내용2    7
Name: c2, dtype: int64

c1     6
c2     7
c3     8
c4     9
c5    10
Name: 내용2, dtype: int64

In [9]:
df.iloc[0,2]

3