In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({"a": [4, 5, 6, 6],"b": [7, 8, 9, 9],"c": [10, 11, 12, 12]},index=['a', 'b','c','d'])
df

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12
d  6  9  12

In [7]:
# b 컬럼의 값 중 7과 같지 않은 것

df["b"] != 7

a    False
b     True
c     True
d     True
Name: b, dtype: bool

In [8]:
# b 컬럼의 값 중 7과 같지 않은 것을 찾아서 DataFrame 형태로 보고 싶다면?

df[df["b"] != 7]

   a  b   c
b  5  8  11
c  6  9  12
d  6  9  12

In [11]:
# a, b 컬럼에서 b 컬럼이 가지고 있는 값이 7이 아닌 것들만 보고 싶다면?

df.loc[df["b"] != 7,["a","b"]]

   a  b
b  5  8
c  6  9
d  6  9

In [13]:
# a 컬럼에 해당 값이 들어 있느냐? 인자로 넘겨주는 형태는 무조건 리스트여야 함
df.a.isin?

In [15]:
# 컬럼의 값이 한글이나 특수문자 인 경우에는 대괄호 쓰는게 좋음
# df["a"].isin([5])  

df.a.isin([5])

a    False
b     True
c    False
d    False
Name: a, dtype: bool

* isnull()

In [31]:
import numpy as np
df = pd.DataFrame(
    {
        "a": [4, 5, 6, 6, np.nan],
        "b": [7, 8, np.nan, 9, 9],
        "c": [10, 11, 12, np.nan, 12]
    },
    index=[1, 2, 3, 4, 5])
df

     a    b     c
1  4.0  7.0  10.0
2  5.0  8.0  11.0
3  6.0  NaN  12.0
4  6.0  9.0   NaN
5  NaN  9.0  12.0

In [20]:
# 널값 확인

df.isnull()

       a      b      c
1  False  False  False
2  False  False  False
3  False   True  False
4  False  False   True
5   True  False  False

In [21]:
# a 컬럼에 null 값이 있는가?

df['a'].isnull()

1    False
2    False
3    False
4    False
5     True
Name: a, dtype: bool

In [25]:
df.isnull().sum()

a    1
b    1
c    1
dtype: int64

In [27]:
df["a"].isnull().sum()

1

In [23]:
df.notnull()

       a      b      c
1   True   True   True
2   True   True   True
3   True  False   True
4   True   True  False
5  False   True   True

In [24]:
df.notnull().sum()

a    4
b    4
c    4
dtype: int64

In [28]:
df.a.notnull()

1     True
2     True
3     True
4     True
5    False
Name: a, dtype: bool

*  &    |  ~     ^  df.any(), df.all() => 데이터프레임에서 사용시
* and, or, not, xor, any, all => 파이썬에서 사용시

In [59]:
df[df['a'] == 5]

     a    b     c
2  5.0  8.0  11.0

In [60]:
df[df['b'] == 7] 
# & df[df.a == 5]

     a    b     c
1  4.0  7.0  10.0

In [67]:
df[(df['a'] == 5) & (df['b'] == 7)]

Empty DataFrame
Columns: [a, b, c]
Index: []

In [69]:
df[(df['a'] == 5) & (df['b'] == 7)]

Empty DataFrame
Columns: [a, b, c]
Index: []

In [52]:
4 and 5

5

In [58]:
df[df['a'] == 5] & df[df['b'] == 7]

TypeError: unsupported operand type(s) for &: 'float' and 'bool'

In [65]:
3.0 and 5.0

5.0

In [75]:
import numpy as np
df = pd.DataFrame(
    {
        "a": [4, 5, 6, 6, np.nan],
        "b": [7, 8, np.nan, 9, 9],
        "c": [10, 11, 12, np.nan, 12]
    }, index = pd.MultiIndex.from_tuples([('d', 1), ('d', 2),('e', 2), ('e', 3), ('e', 4)],
                                          names=['n', 'v']))
df

# df = pd.DataFrame({
#     "a": [4, 5, 6],
#     "b": [7, 8, 9],
#     "c": [10, 11, 12]
# },
#                   index=pd.MultiIndex.from_tuples([('d', 1), ('d', 2),
#                                                    ('e', 2)],
#                                                   names=['n', 'v']))
# df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0

In [77]:
df.any()

a    True
b    True
c    True
dtype: bool

In [78]:
df.all()

a    True
b    True
c    True
dtype: bool

In [79]:
~df.a.notnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
Name: a, dtype: bool

In [80]:
df.a.notnull()

n  v
d  1     True
   2     True
e  2     True
   3     True
   4    False
Name: a, dtype: bool

In [81]:
1 and 2

2

In [82]:
True and False

False

In [84]:
# 파이썬 문법에서 사용하듯이 and 를 사용하면 pandas 에서는 에러 남

df[df.b == 7] and df[df.a == 5]

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [87]:
# b 컬럼이 7이고 a 컬럼이 5인 행 찾기

df[(df.b == 7) & (df.a == 5)]

Empty DataFrame
Columns: [a, b, c]
Index: []

In [86]:
# b 컬럼이 7이거나 a 컬럼이 5인 행 찾기

df[(df.b == 7) | (df.a == 5)]

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0