In [1]:
import pandas as pd

In [3]:
adf = pd.DataFrame({"x1":['A','B','C'], "x2":[1,2,3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [4]:
bdf = pd.DataFrame({"x1":['A','B','D'], "x2":['T','F','T']})
bdf

  x1 x2
0  A  T
1  B  F
2  D  T

In [5]:
# how : left : 여기서는 adf 기준으로 조인하기
# on : x1 을 기준으로 join

pd.merge(adf, bdf, how='left', on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F
2  C     3  NaN

In [6]:
# how : right : 여기서는 bdf 기준으로 조인하기

pd.merge(adf, bdf, how='right', on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  D   NaN    T

In [7]:
# how : inner(둘다 해당하는 값으로만 조인)

pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F

In [ ]:
# how : outer(두 프레임에 있는 모든 값 포함)

pd.merge(adf, bdf, how='outer', on='x1')

In [8]:
bdf.x1

0    A
1    B
2    D
Name: x1, dtype: object

In [9]:
adf.x1

0    A
1    B
2    C
Name: x1, dtype: object

* Filterling Join

In [10]:
# adf.x 안에 bdf.x1 값과 일치한 값이 있으면 True
# 아니면 False

adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [11]:
# ~ : 제외하고

adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3

* 두 번째 실습

In [12]:
ydf = pd.DataFrame({"x1":['A','B','C'], "x2":[1,2,3]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [13]:
zdf = pd.DataFrame({"x1":['B','C','D'], "x2":[2,3,4]})
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [14]:
# 기본값이 inner join 이므로 공통된 값이 있는 것만 merge됨

pd.merge(ydf, zdf)

  x1  x2
0  B   2
1  C   3

In [19]:
# outer이기 때문에 모두다 merge 됨

pd.merge(ydf, zdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [21]:
# outer 기준, indicator (outer로 할 때 어떤 값만 있는지 확인)

pd.merge(ydf, zdf, how='outer',indicator=True)

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [22]:
# query() 조건을 줘서 원하는 부분만 가져오기

pd.merge(ydf, zdf, how='outer',indicator=True).query('_merge == "left_only"')

  x1  x2     _merge
0  A   1  left_only

In [18]:
# outer, outer 한 설명, query(조건 맞춰 가져오기), 컬럼 생성된 것 drop

pd.merge(
    ydf, zdf, how='outer',
    indicator=True).query('_merge == "left_only"').drop(columns=['_merge'])

  x1  x2
0  A   1