### 연습문제와 추가 문법으로 정리하는 pandas

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">1. 00_data/olist_customers_dataset.csv 파일 pandas dataframe 으로 읽어오기 (데이터프레임 변수 이름은 doc 로 하기로 함)</font><br>
</div>

In [51]:
import pandas as pd

df = pd.read_csv("../data/shop/olist_customers_dataset.csv", encoding="utf-8-sig")
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">2. 처음 5개 열 확인하기</font><br>
</div>

In [52]:
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">3. 전체 record 수(행 수) 확인하기</font><br>
</div>

In [53]:
df.shape

(99441, 5)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">4. 전체 열의 수 확인하기</font><br>
</div>

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">5. 열의 이름 리스트로 가져오기</font><br>
</div>

In [55]:
df.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">6. 인덱스 확인하기</font><br>
</div>

In [56]:
df.index

RangeIndex(start=0, stop=99441, step=1)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">7. 다섯 숫자 요약(5 number summary) 확인하기 </font><br>
</div>

In [57]:
df.describe()   # 숫자 부분에 대해서만 요약 해줌

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

### 추가 문법 pandas.DataFrame.copy
- 데이터프레임 중 일부를 선택 후, 조작하면 해당 데이터프레임도 변경
- copy() 를 통해, 복사본을 만들어서 조작하여, 원본 데이터프레임은 보존 가능

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">8. customer_zip_code_prefix, customer_city, customer_state 컬럼만 가져오기 (데이터프레임 변수 이름은 doc2로 하기로 함)</font><br>
</div>

In [58]:
df2 =  df[["customer_zip_code_prefix", "customer_city", "customer_state" ]].copy()
df2.head(3)

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">9. customer_city 가 sao paulo 인 레코드(행)만 가져오기 (데이터프레임 변수 이름은 doc3 으로 하기로 함)</font><br>
    - 레코드(행) 수 확인도 해보기
</div>

In [59]:
df3 = df[df["customer_city"] == "sao paulo"].copy()
df3.shape

(15540, 5)

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">10. customer_city 기준으로 행의 갯수를 확인해보세요 </font><br>
    - doc2에 value_counts() 를 써보세요 (value_counts() 는 Series 에만 적용 가능합니다.) <br>    
</div>

In [60]:
df2["customer_city"].value_counts()

sao paulo              15540
rio de janeiro          6882
belo horizonte          2773
brasilia                2131
curitiba                1521
                       ...
anhandui                   1
sao jorge                  1
anage                      1
porto rico                 1
sao joao do sobrado        1
Name: customer_city, Length: 4119, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">11. doc 데이터프레임에서 customer_city 기준으로 행의 갯수를 확인해보세요 </font><br>
    1. groupby 를 써서 customer_city 를 기준으로 행의 갯수를 count 하세요 (새로운 데이터프레임 변수 이름은 doc4로 하기로 함)<br>
    2. doc4를 통해 customer_city 수도 확인해보세요 (데이터프레임 레코드(행) 수를 확인해보면 됩니다.)<br>
</div>

In [61]:
# 원본 데이터 문자열에서 가져오기

df4 = df.groupby("customer_city").count()
df4

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
customer_city,,,,
abadia dos dourados,3,3,3,3
abadiania,1,1,1,1
abaete,12,12,12,12
abaetetuba,11,11,11,11
abaiara,2,2,2,2
...,...,...,...,...
xinguara,9,9,9,9
xique-xique,3,3,3,3
zacarias,2,2,2,2
ze doca,5,5,5,5
zortea,2,2,2,2

In [62]:
df4.shape

(4119, 4)

### 추가 문법 이해 (정렬, sort_values(), sort_index())
1. groupby(기준컬럼) 계산시, 기준컬럼은 인덱스로 설정이 되고, 해당 컬럼값을 기반으로 자동 정렬됨
2. 데이터프레임.sort_values(by=컬럼명, ascending=False) 
   - ascending=True: 오름차순 (디폴트)
   - ascending=False: 내림차순
3. 시리즈.sort_values(ascending=True)
4. 데이터프레임/시리즈.sort_index(ascending=True): 인덱스 기준 정렬

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">12. doc4에서 가장 레코드(행)의 수가 많은 customer_city 를 확인해보세요</font><br>
    1. doc4의 customer_id 를 기준으로 정렬하고, 가장 상단의 한 행만 출력하기<br>
</div>

In [63]:
df4["customer_id"].sort_values(ascending=False).head(1)

customer_city
sao paulo    15540
Name: customer_id, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">13. doc 에서 customer_city 를 인덱스로 만들고, 알파벳 순으로 인덱스를 정렬해보세요</font><br>
</div>

In [64]:
# df = df.set_index("customer_city")  # 두 번째 실행할 때분터 에러남
df.sort_index()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">14.  doc2에서 customer_state 기준으로 행의 갯수를 확인해보세요</font><br>
   - doc2에 value_counts() 를 써보세요 (value_counts() 는 Series 에만 적용 가능합니다.) <br>    
</div>

In [65]:
df2["customer_state"].value_counts()

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">15. doc2에서 customer_state 갯수를 확인해보세요</font><br>
</div>

In [66]:
df2["customer_state"].count()

99441

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">16. doc4에서 customer_id 갯수가 1000개 이상인 customer_city 갯수만 확인해보세요</font><br>
</div>

In [72]:
# 인덱스를 컬럼으로 변경

df4 = df4.reset_index()
df4

,customer_city,customer_id,customer_unique_id,customer_zip_code_prefix,customer_state
0,abadia dos dourados,3,3,3,3
1,abadiania,1,1,1,1
2,abaete,12,12,12,12
3,abaetetuba,11,11,11,11
4,abaiara,2,2,2,2
...,...,...,...,...,...
4114,xinguara,9,9,9,9
4115,xique-xique,3,3,3,3
4116,zacarias,2,2,2,2
4117,ze doca,5,5,5,5
4118,zortea,2,2,2,2

In [77]:
df4[df4["customer_id"] >= 1000]["customer_city"]

453     belo horizonte
558           brasilia
707           campinas
1143          curitiba
1529         guarulhos
2964      porto alegre
3155    rio de janeiro
3247          salvador
3597         sao paulo
Name: customer_city, dtype: object

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">17. doc4에서 customer_city 갯수가 1000개 이상인 customer_city 이름을 확인해보세요</font><br>
</div>

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">18. doc에서 결측치가 각 컬럼에 있는지 확인해보세요</font><br>
</div>

### 추가 문법 이해 (to_list())
1. 시리즈.to_list()
   - 컬럼값을 리스트 타입으로 리턴

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">19. doc에서 중복된 customer_city 를 가진 행을 삭제한 후, customer_city 이름만 가져와보세요</font><br>
</div>

### 추가 문법 이해 (pivot_table)

- pivot_table(데이터프레임, values=None, index=None, aggfunc='mean', fill_value=None, margins=False, margins_name='All')
  - values: 분석할 열 이름 리스트
  - index: 인덱스로 들어갈 키 열
  - aggfunc: 계산 방법, 간단히 {분석할열이름:계산방법} 으로 사전 형식으로 작성
    - 주요 계산 방법: sum(합), mean(평균), median(중앙값), std(표준편차)
  - fill_value: 결측치 대체 값
  - margins: 모든 데이터의 총 분석 결과를 추가함 (예, 총 합)
  - margins_name: 모든 데이터의 총 분석 결과의 이름

In [ ]:
import pandas as pd

doc_covid = pd.read_csv('COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv', encoding='utf-8-sig')
doc_covid.head()

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">20. doc_covid 에서 중복된 Country_Region 각각에 대해 Confirmed 를 모두 더한 값을 컬럼으로 갖는 데이터프레임을 피봇테이블로 만드세요</font><br>
- 결측치는 0으로 만드세요
</div>

In [ ]:
doc_covid2 = pd.pivot_table(doc_covid, 
                            index=['Country_Region'], 
                            values=['Confirmed'],
                            aggfunc={'Confirmed': 'median'}, 
                            fill_value=0,
                            margins=True,
                            margins_name='Total'
                           )
doc_covid2.head()

<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="2em" style="font-weight:bold;color:#3f8dbf;">21. doc_covid 에서 중복된 Country_Region 각각에 대해 Confirmed 를 모두 더한 값을 컬럼으로 갖는 데이터프레임을 피봇테이블로 만들고, 총 값을 'Total' 을 인덱스 값으로 하는 record 로 추가하세요</font><br>
- 결측치는 0으로 만드세요
</div>

In [ ]:
doc_covid2 = pd.pivot_table(doc_covid, 
                            index=['Country_Region'], 
                            values=['Confirmed'],
                            aggfunc={'Confirmed': 'median'}, 
                            fill_value=0,
                            margins=True,
                            margins_name='Total'
                           )
doc_covid2