### DataFrame 생성

#### pd.DataFrame(data=None,index: Union[Collection, NoneType] = None, columns: Union[Collection, NoneType] = None,  dtype: Union[str, numpy.dtype, ForwardRef('ExtensionDtype'), NoneType] = None,   copy: bool = False)

In [ ]:
pd.DataFrame?

In [2]:
import pandas as pd

friend_dict_list = [
    {
        "name": "John",
        "age": 25,
        "job": "student",
    },
    {
        "name": "Nate",
        "age": 30,
        "job": "teacher",
    },
    {
        "name": "Jenny",
        "age": 30,
        "job": "developer",
    },
]

df = pd.DataFrame(friend_dict_list)
df

    name  age        job
0   John   25    student
1   Nate   30    teacher
2  Jenny   30  developer

In [4]:
#  Nate와 Jenny 만 추출하고 싶다면?

df[1:3]

    name  age        job
1   Nate   30    teacher
2  Jenny   30  developer

In [5]:
# John, Jenny 만 보고 싶다면?

df.loc[[0, 2]]

    name  age        job
0   John   24    student
2  Jenny   30  developer

### column condition

In [10]:
# 나이가 25살보다 많은 사람 추출

df[df.age > 25]

    name  age        job
1   Nate   30    teacher
2  Jenny   30  developer

In [11]:
# 위와 동일한 작업인데 query 메소드 사용

df.query("age>25")

    name  age        job
1   Nate   30    teacher
2  Jenny   30  developer

In [3]:
df.age[0]=24

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

NameError: name 'pd' is not defined