In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({'temp_c': [17.0, 25.0]}, index=['Portland', 'Berkeley'])
df

          temp_c
Portland    17.0
Berkeley    25.0

In [6]:
# 새로운 컬럼을 만들어 삽입하는 건 지난번에 했었음

df['temp_f1'] = df.temp_c * 9 / 5 + 32
df

          temp_c  temp_f1
Portland    17.0     62.6
Berkeley    25.0     77.0

### assign : 새로운 컬럼을 생성하고 값 삽입

In [3]:
# 위에서 한 걸 assign() 함수를 통해서도 할 수 있음

df.assign?

In [7]:
# temp_f 컬럼 값은 섭씨 온도를 화씨 온도로 바꿔 저장하고 싶다
# 현재 섭씨 온도는 있으니까 그 값을 가져와서 아래처럼 계산한 다음에 temp_f에 저장

df.assign(temp_f2=lambda x: x.temp_c * 9 / 5 + 32)

          temp_c  temp_f1  temp_f2
Portland    17.0     62.6     62.6
Berkeley    25.0     77.0     77.0

### qcut() : 숫자형 데이터를 카테고리 형태로 변환해 줄 때 사용

In [20]:
pd.qcut?

In [10]:
# good, medium, bad 값을 랜덤하게 5번 돌린 상황

pd.qcut(range(5), 3, labels=["good","medium","bad"])

[good, good, medium, bad, bad]
Categories (3, object): [good < medium < bad]

In [16]:
import numpy as np
df = pd.DataFrame({'A':range(1,11), 'B':np.random.randn(10)})
df

    A         B
0   1 -0.474508
1   2  1.510506
2   3  0.657881
3   4  0.544296
4   5  0.509166
5   6 -1.260722
6   7 -0.464433
7   8 -0.446866
8   9 -0.124023
9  10 -0.003634

In [11]:
pd.qcut(df.temp_c, 3, labels=["good","medium","bad"])

Portland    good
Berkeley     bad
Name: temp_c, dtype: category
Categories (3, object): [good < medium < bad]

In [17]:
# A 컬럼을 세 개의 구간으로 나누어 표시

pd.qcut(df.A, 3, labels=["good","medium","bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [19]:
# B 컬럼을 세 개의 구간으로 나누어 표시
# B 컬럼의 경우 random하게 값이 생성된 상황이기 때문에 세 구간의 값도 랜덤하게 
# 표시

pd.qcut(df.B, 3, labels=["good","medium","bad"])

0      good
1       bad
2       bad
3       bad
4    medium
5      good
6      good
7      good
8    medium
9    medium
Name: B, dtype: category
Categories (3, object): [good < medium < bad]

### max

In [23]:
# 행에서의 가장 큰 값

df.max(axis=0)

A    10.000000
B     1.510506
dtype: float64

In [24]:
# 행에서의 가장 작은 값

df.min(axis=0)

A    1.000000
B   -1.260722
dtype: float64

### clip : 제시한 사이의 숫자로 값을 변환해 줌

In [28]:
# B 컬럼의 값을 -1 에서 1 사이의 값으로 변환해줌

df["B"].clip(lower=-1, upper=1)

0   -0.474508
1    1.000000
2    0.657881
3    0.544296
4    0.509166
5   -1.000000
6   -0.464433
7   -0.446866
8   -0.124023
9   -0.003634
Name: B, dtype: float64

In [29]:
# A 컬럼의 값을 1 에서 5 사이의 값으로 변환해줌

df["A"].clip(lower=1, upper=5)

0    1
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

### abs() : 절대값

In [31]:
df["B"].abs()

0    0.474508
1    1.510506
2    0.657881
3    0.544296
4    0.509166
5    1.260722
6    0.464433
7    0.446866
8    0.124023
9    0.003634
Name: B, dtype: float64

In [32]:
df["B"]

0   -0.474508
1    1.510506
2    0.657881
3    0.544296
4    0.509166
5   -1.260722
6   -0.464433
7   -0.446866
8   -0.124023
9   -0.003634
Name: B, dtype: float64