In [1]:
import pandas as pd

In [2]:
import numpy as np
df = pd.DataFrame(
    {
        "a": [4, 5, 6, 6, np.nan],
        "b": [7, 8, np.nan, 9, 9],
        "c": [10, 11, 12, np.nan, 12]
    },
    index=[1, 2, 3, 4, 5])
df

     a    b     c
1  4.0  7.0  10.0
2  5.0  8.0  11.0
3  6.0  NaN  12.0
4  6.0  9.0   NaN
5  NaN  9.0  12.0

### head / tail

In [3]:
# 기본값이 5이기 때문에 위에서 5개 가져오는 것
df.head()

     a    b     c
1  4.0  7.0  10.0
2  5.0  8.0  11.0
3  6.0  NaN  12.0
4  6.0  9.0   NaN
5  NaN  9.0  12.0

In [4]:
df.head(2)

     a    b     c
1  4.0  7.0  10.0
2  5.0  8.0  11.0

In [5]:
df.tail(2)

     a    b     c
4  6.0  9.0   NaN
5  NaN  9.0  12.0

### sample

In [7]:
# frac : 특정 비율로 sampleling 해서 가져옴
# 값은 변경될 수 있음

df.sample(frac=0.5)

     a    b     c
4  6.0  9.0   NaN
5  NaN  9.0  12.0

In [8]:
# 임의의 한 값을 가져옴

df.sample()

     a    b   c
4  6.0  9.0 NaN

In [9]:
# n의 개수는 전체의 행 수를 넘어서 지정하면 에러 발생
# 임의로 3개 가져오기

df.sample(n=3)

     a    b     c
2  5.0  8.0  11.0
1  4.0  7.0  10.0
5  NaN  9.0  12.0

In [10]:
# index 1 만 가져옴

df.iloc[1:2]

     a    b     c
2  5.0  8.0  11.0

In [11]:
df.iloc[1:3]

     a    b     c
2  5.0  8.0  11.0
3  6.0  NaN  12.0

### nlargest / nsmallest

In [13]:
df.nlargest?

In [14]:
#  a 컬럼에서 큰 거 세 개의 행을 리턴

df.nlargest(3, "a")

     a    b     c
3  6.0  NaN  12.0
4  6.0  9.0   NaN
2  5.0  8.0  11.0

In [15]:
df.nlargest(1, "c")

     a   b     c
3  6.0 NaN  12.0

In [16]:
df.nsmallest(2,"a")

     a    b     c
1  4.0  7.0  10.0
2  5.0  8.0  11.0