# loc vs iloc : 컬럼 지정시 컬럼명으로 할 것인가? index로 할것인가?

###  loc : 컬럼명 사용

### iloc : 행, 열 모두 인덱스 사용

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# 데이터 셋 로드
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
# 1 행에 대해서 모든 컬럼 가져오기

df.loc[1]

sepal_length       4.9
sepal_width          3
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object

In [8]:
#  1 행에 대해서 특정 컬럼에 속하는 정보 가져오기
# loc : 뒤에 있는 index 포함

df.loc[1, 'sepal_width':'petal_width']

sepal_width       3
petal_length    1.4
petal_width     0.2
Name: 1, dtype: object

In [10]:
# 1,3 행 가져오기

df.loc[[1,3]]

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

In [12]:
# 1,3 행 가져오면서 특정 컬럼 가져오기

df.loc[[1,3],['sepal_width','petal_width']]

   sepal_width  petal_width
1          3.0          0.2
3          3.1          0.2

In [17]:
# 1,3 행 가져오면서 컬럼은 ~ 에서 ~까지 가져오기 형태

df.loc[[1,3],'sepal_width':'petal_width']

   sepal_width  petal_length  petal_width
1          3.0           1.4          0.2
3          3.1           1.5          0.2

In [16]:
# ~에서 ~까지 가져오기는 [] 사용시 에러남

df.loc[1:3,'sepal_width':'petal_width']

   sepal_width  petal_length  petal_width
1          3.0           1.4          0.2
2          3.2           1.3          0.2
3          3.1           1.5          0.2

In [18]:
# 컬럼을 이름이 아닌 인덱스 값으로 가지고 오고 싶다면?

df.loc[1:3,1:3]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [19]:
df.iloc[1:3,1:3]

   sepal_width  petal_length
1          3.0           1.4
2          3.2           1.3

In [27]:
data = {"a": [1, 2, 3], "b": [4, 5, 6], "c": [7, 8, 9]}

df = pd.DataFrame(data, index=["no1", "no2", "no3"])
df

     a  b  c
no1  1  4  7
no2  2  5  8
no3  3  6  9

In [31]:
# 1번 행 가져오기

df.loc["no1"]    # df.loc[0] 이건 안됨

a    1
b    4
c    7
Name: no1, dtype: int64

In [33]:
# 1번 행 a,c 컬럼만 가져오기

df.loc["no1",["a","c"]]

a    1
c    7
Name: no1, dtype: int64

In [34]:
# 1번 행과 3번 행 가져오기

df.loc[["no1","no3"]]

     a  b  c
no1  1  4  7
no3  3  6  9

In [36]:
# 1번 행 가져오기

df.iloc[0]

a    1
b    4
c    7
Name: no1, dtype: int64

In [38]:
# 1번 행, a,c 컬럼 가져오기

df.iloc[0, [0,2]]

a    1
c    7
Name: no1, dtype: int64