### 비교 연산자로 원하는 행 추출

In [1]:
import pandas as pd

In [12]:
df = pd.DataFrame({"a": [4, 5, 6, 6],"b": [7, 8, 9, 9],"c": [10, 11, 12, 12]},index=['a', 'b','c','d'])
df

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12
d  6  9  12

In [8]:
# 비교 연산자로 원하는 행 추출

df.a >= 5

a    False
b     True
c     True
d     True
Name: a, dtype: bool

In [9]:
# a 값이 5보다 커야 하기 때문에 a 행은 안나오는 게 보임

df[df.a >= 5]

   a  b   c
b  5  8  11
c  6  9  12
d  6  9  12

In [10]:
df[df.b == 8]

   a  b   c
b  5  8  11

### 중복 행 제거 :  drop_duplicates()

df.drop_duplicates?

```
df.drop_duplicates(
    subset: Union[Hashable, Sequence[Hashable], NoneType] = None,    
    keep: Union[str, bool] = 'first',    
    inplace: bool = False,    
    ignore_index: bool = False,
) -> Union[ForwardRef('DataFrame'), NoneType]
```

In [13]:
df

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12
d  6  9  12

In [14]:
df.drop_duplicates()

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12

In [15]:
df

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12
d  6  9  12

In [16]:
# inplace는 직접 반영

df.drop_duplicates(inplace=True)

In [17]:
df

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12