In [1]:
import pandas as pd

In [4]:
data = { "name":["홍길동","김수정","이민정"],"age":["25","35","45"]}

df = pd.DataFrame(data)
df

  name age
0  홍길동  25
1  김수정  35
2  이민정  45

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [8]:
# int 만 써주면 int32,  int64까지 써주면 int64 타입으로 변경

df["age_1"] = df["age"].astype("int64")   
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      object
 2   age_1   3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [9]:
# to_numeric() : nan 이 없으면 int64로 변경

df["age_2"] = pd.to_numeric(df["age"])   
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      object
 2   age_1   3 non-null      int64
 3   age_2   3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes